#one {
    background-color: black;
    color: white;
}

#two {
    background-color: lightgray;
    color: black;
}

#three {
    background-color: yellow;
    color: black;
}

#four {
    background-color: lightblue;
    color: black;
}

#four2 {
    background-color: red;
    color: black;
}

#four3 {
    background-color: green;
    color: black;
}